@media screen and (min-width: 835px) {
  body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  header {
    margin-left: 10%;
    margin-bottom: 5%;
  }
  header h1 {
    display: none;
  }
  main #main-heading.mobile {
    display: block;
    margin-bottom: 32px;
  }
}
