.personal-info .box {
  margin-top: 12px;
}

.labels {
  font-size: 15px;
  padding-bottom: 4px;
  font-weight: bold;
  color: gray;
}

input {
  width: 100%;
  font-size: 16px;
  padding: 14px 0 14px 48px;
  font-weight: bold;
  border-radius: 12px;
  border: 0.2px solid gray;
  color: gray;
  letter-spacing: 1.2px;
}

input#email {
  background-image: url(./mail.png);
  background-position: 10px 13px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

input#phone {
  background-image: url(./phone.png);
  background-position: 10px 13px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
